<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ip" value="192.168.187.5" />
		<add key="recordPort" value="19992" />
		<add key="scriptPort" value="19991" />
		<add key="maxConnectCount" value="2" />
		<add key="UpLoadMethod" value="sftp" />
		<add key="ABCFtpUser" value="agree" />
		<add key="ABCFtpPassword" value="agree" />
		<add key="SftpIp" value="192.168.187.5" />
		<add key="SftpPort" value="22" />
		<add key="SftpUser" value="agree" />
		<add key="SftpPassword" value="agree" />
		<add key="SftpPath" value="selfService" />

		<add key="LocalPath" value="C:\screen" />
		<add key="HttpUrl" value="selfService" />
		<add key="HttpUrl" value="http://192.168.187.5:8080/agreeAutoTest2019/flows/addResultFlow" />
	</appSettings>
</configuration>